name = "dime"
version = "1.0.0"
description = "A ISO-4217 currency library for Gleam"
licences = ["Apache-2.0"]
repository = { type = "github", user = "horvathandris", repo = "dime" }

[dependencies]
gleam_stdlib = ">= 0.34.0 and < 2.0.0"

[dev-dependencies]
gleeunit = ">= 1.0.0 and < 2.0.0"
simplifile = ">= 2.2.0 and < 3.0.0"
gleam_json = ">= 2.0.0 and < 3.0.0"
cactus = ">= 1.1.0 and < 2.0.0"

[cactus.pre-commit]
actions = [
  { command = "format", kind = "sub_command", args = ["--check"] },
]
